.product-list-container {
  display: flex;
  justify-content: start;
  width: 95%;
  margin: auto;
}

.product-list-container .image-section {
  position: relative;
  width: 20%;
}
.product-list-container .detail-section {
  width: 55%;
  padding: 5px 0;
}

.product-list-container .price-section {
  width: 25%;
}

.product-list-container .image-section img {
  width: 200px;
  height: 200px;
}

.product-list-container .heart-icon {
  position: absolute;
  top: 1%;
  right: 10px;
}

.product-list-container .detail-section .description {
  width: 70%;
}
.product-list-container .detail-section .rating {
  width: 20px;
  height: 20px;
  background-color: #388f3d;
}

.product-list-container .detail-section .rating-container {
  display: flex;
  margin-top: 10px;
}

.product-list-container .detail-section .rating-container .raters {
  color: #8f918e;
  font-weight: 600;
  margin-left: 5px;
}

.product-list-container .detail-section .description {
  width: 70%;
  display: -webkit-box;
  max-width: 70%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-list-container .price {
  font-weight: 700;
}

.product-list-container .original-price {
  color: #878787;
  font-weight: 500;
  text-decoration: line-through;
}
.product-list-container .discount {
  margin-left: 15px;
  color: #3f8f3c;
  font-weight: 500;
}

.product-list-container .stock {
  color: #3f8f3c;
  font-weight: 400;
  font-weight: 500;
}

.product-list-container .shippingInformation {
  color: black;
}

.product-list-container .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90% !important;
  font-size: 1rem;
}
