.product-container {
  width: 80% !important;
  margin: 1% auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-container .filters {
  width: 20%;
  margin-right: 10px;
}
.product-container .products {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
