* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #222d50;
}

html {
  font-size: 62.5%;
}

.buy-now:hover {
  transform: scale(1.1);
}

.rotate-30deg {
  transform: rotate(-30deg);
}

.rotate-30deg:hover {
  transform: rotate(0deg);
}

.rotate:hover {
  transform: rotate(30deg);
}

.scale:hover {
  transform: scale(1.125);
}

.main-container {
  width: 100%;
  background-color: #f8f9fa;
}
.main-container .header {
  width: 100%;
  box-shadow: 2px 2px 2px 2px #e3dcd9;
}
.main-container .header .header-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.main-container .header .header-inside .logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20%;
}
.main-container .header .header-inside .logo-container .nike-logo {
  height: 30px;
  width: 70px;
}

.main-container .header .header-inside .logo-container .company-name {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Caveat", cursive;
}

.main-container .header .header-inside .logo-container .company-name span {
  font-family: "Caveat", cursive;
  color: #fe8366;
}
.main-container .header .header-inside .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 2rem;
  list-style: none;
}

.main-container .header .header-inside .menu-container li:hover {
  transform: scale(1.1);
}
.main-container .header .header-inside .menu-container li a {
  color: #918e8b;
  text-decoration: none;
  padding: 5px;
}

.main-container .header .header-inside .menu-container li a:hover {
  background-color: #fe8366;
  padding: 5px;
  color: #222d50;
  border-radius: 5px;
}

.main-container .casual-shoes {
  background-color: #e5e5e5;
}
.main-container .casual-shoes .container {
  background-color: #e5e5e5;
}

.main-container .casual-shoes .container .title {
  width: 80%;
  margin: auto;
  padding: 2% 0;
}

.main-container .casual-shoes .container .title h1 {
  font-size: 3rem;
  font-weight: 900;
}

.main-container .casual-shoes .container .shoes-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .casual-shoes .container .shoes-container .product {
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .img-container {
  margin: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .img-container
  .shoe-img {
  width: 100%;
  cursor: pointer;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail {
  padding: 10px;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .pro-title {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 800;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .pro-desc {
  font-size: 1.5rem;
  margin-top: 10px;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .price {
  font-size: 2.5rem;
  color: #fe8366;
}
.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .buy-now {
  width: 150px;
  height: 40px;
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  background-color: #fe8366;
  border: 2px solid #222d50;
  cursor: pointer;
  transition: transform 400ms ease-in-out;
  margin: 0;
}

.main-container
  .casual-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .buy-now:hover {
  transform: scale(1.05);
}

#shoe-1 {
  margin-top: 10%;
}

#shoe-2 {
  margin-right: 12%;
}

#shoe-3 {
  margin-right: 16%;
  margin-top: -7%;
}

.main-container .sport-shoes {
  background-color: #e5e5e5;
  height: 720px;
}
.main-container .sport-shoes .container {
  background-color: #e5e5e5;
}

.main-container .sport-shoes .container .title {
  width: 80%;
  margin: auto;
  padding: 2% 0;
}

.main-container .sport-shoes .container .title h1 {
  font-size: 3rem;
  font-weight: 900;
}

.main-container .sport-shoes .container .shoes-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .sport-shoes .container .shoes-container .product {
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .img-container {
  margin: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .img-container
  .shoe-img {
  width: 100%;
  cursor: pointer;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail {
  padding: 10px;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .pro-title {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 800;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .pro-desc {
  font-size: 1.5rem;
  margin-top: 10px;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .price {
  font-size: 2.5rem;
  color: #fe8366;
}
.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .buy-now {
  width: 150px;
  height: 40px;
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  background-color: #fe8366;
  border: 2px solid #222d50;
  cursor: pointer;
  transition: transform 400ms ease-in-out;
  margin: 0;
}

.main-container
  .sport-shoes
  .container
  .shoes-container
  .product
  .product-detail
  .price-container
  .buy-now:hover {
  transform: scale(1.05);
}

/* site-map section style-start */
.main-container .site-map-cont {
  background-color: #f8f9fa;
  padding: 4% 0;
}

.main-container .site-map-cont .site-map {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main-container .site-map-cont .site-map .site .title {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Caveat", cursive;
}

.main-container .site-map-cont .site-map .site ul {
  list-style: none;
  margin-left: 10px;
}
.main-container .site-map-cont .site-map .site ul li {
  line-height: 30px;
}
.main-container .site-map-cont .site-map .site ul li a {
  text-decoration: none;
  font-size: 2rem;
}
.main-container .site-map-cont .site-map .site ul li:hover {
  transform: scale(1.05);
  color: #0b1529;
  font-weight: 600;
}
/* site-map section style-end */

/* footer section style-end */

.main-container footer {
  text-align: center;
  font-size: 2rem;
  height: 40px;
}
.main-container footer span {
  color: #fe8366;
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: 800;
}
/* footer section style-end */
