.product-suggestion-container {
  background-color: white;
  margin: 1% 0;
  padding: 1%;
  overflow-x: auto;
}
.product-suggestion {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.single-product-card {
  border: 1px solid #e1e1e0;
  border-radius: 10px;
  width: 220px;
  margin-right: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.single-product-card img {
  width: 200px;
}
