.image-back {
  background-color: red;
  width: 100%;
  height: 100vh;
  border: 1px solid brown;
  background-image: url("../fox.jpg");
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  /* background-repeat: round; */
  /* background-repeat: space; */

  /* background-size: cover; */

  /* background-size: contain;
  background-repeat: no-repeat; */

  /* background-size: auto; */
  /* background-size: 1000px; */
  /* background-size: 100% 500px; */

  /* background-position: top; */
  /* background-position: bottom; */
  /* background-position: left; */
  /* background-position: right; */
  /* background-position: center; */
  /* background-position: 10% 50%; */
  /* background-position-x: right; */
  /* background-position-x: center; */
  /* background-position-x: left; */
  background-position-x: 10%;

  /* background-position-y: 10%; */
  /* background-position-y: top; */
  /* background-position-y: center; */
  /* background-position-y: bottom; */

  /* background-blend-mode: difference; */
  /* background-blend-mode: hue; */
  /* background-blend-mode: hard-light; */
  /* background-blend-mode: difference; */

  filter: blur(5px);
  filter: brightness(1.5);
  filter: contrast(150%);
  filter: drop-shadow(16px 16px 16px rgb(72, 43, 80));
  filter: invert(100%);
  filter: saturate(0%);
  filter: opacity(0.2);
  filter: sepia(90%);
  filter: grayscale(100%);

  filter: blur(10px) brightness(1.5) contrast(150%) grayscale(90%);
}

.title {
  width: fit-content;
  margin: 20% auto;
  border: 1px solid rgb(243, 230, 230);
  color: aliceblue;
}
