.suggestion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1% 0;
  padding: 1% 5%;
}
.suggestion {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.suggestion img {
  width: 80px;
  height: 100px;
}

.suggestion p {
  font-weight: 500;
}
