.login-container {
}

.login-container .login-paper {
  min-height: 500px;
  width: 50%;
  margin: 10% auto;
}

.fk-left-sec {
  margin: 0;
  padding: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.fk-left-sec div {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.fk-right-sec {
  padding-right: 16px;
}

.btn-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.chip-btn {
  width: 100px;
}
